@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto-sans);
}

html,
body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #171717;
  font-family: var(--font-roboto-sans);
  position: relative;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-120px);
  }
}


/* black: #121212 */